<div id="modalView" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">User Login</h4>
            </div>
            <div class="modal-body row" id="register-form">
                <div id="register-data">
                    <div class="form-group col-md-4">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Confirm Password</label>
                        <input type="password" name="confirmPassword" class="form-control" />
                    </div>
                </div>
                <div id="employee-data">
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" name="firstname" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" name="lastname" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Gender</label>
                        <select type="text" name="gender" class="form-control">
                            <option value="0">Undisclosed</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Job Title</label>
                        <select type="text" name="jobTitle" class="form-control">
                            <option value="0"></option>
                            <option value="3010">Programmer I</option>
                            <option value="3020">Programmer II</option>
                            <option value="3050">Software Developer</option>
                            <option value="4110">Junior CPA</option>
                            <option value="4120">Senior CPA</option>
                            <option value="4010">Tax Accountant</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Salary</label>
                        <input type="number" name="salary" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Skill Level</label>
                        <input type="number" name="skillLevel" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="register-btn" type="button" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</div>